body {
    margin: 0px;
    font-family: sans-serif;
    
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;

    
}

.logo {

    height: 48px;
}

ul {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 22px;
    

}

li {
    list-style: none;
}

a {
    color: #e5e7eb;
    text-decoration: none;

}

.face {

    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 24px;
    height: 400px;

}
.face div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 300px;
}
 h1 {
    margin: 0px;
    color: #e5e7eb;
    font-size: 48px;
    
 }

 .face p {
    color: #e5e7eb;
    width: 500px;
    height: auto;
    text-align: start;
 }

 button {

    color: white;
    background-color: #3882f6;
    width: 130px;
    height: 35px;
    font-size: 18px;
    border-radius: 5px;
    border-width: 0px;
    font-weight: bold;

 }

.faceimg {
    height: 300px;
    width: 700px;
    object-fit: cover;
}


.title {

    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    margin-top: 48px;
}

.images {

    display: flex;
    justify-content: center;
    padding: 48px;
    gap: 68px;
    height: 400px;
    
    
}

.images img, p {
    width: 200px;
    height: 200px;
    object-fit: cover;
    text-align: center;
    font-size: 18px;
    color: gray;
}

.images img {

    border-style: solid;
    border-color: #3882f6;
    border-width: 4px;
    border-radius: 15px;
}

.qoute {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 48px;
    align-items: center;
    height: 300px;
}

.qoute h2 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    width: 800px;

}
.batman {
    width: 800px;
    display: flex;
    justify-content: end;
}